# see https://docs.mitmproxy.org/stable/concepts-options/ for more all options
listen_port: {{ .Env.PROXY_PORT }}
web_host: 0.0.0.0
web_port: {{ .Env.WEB_PORT }}
{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}
{{/* Search through containers' labels to find where to proxy the virtual hosts to */}}
{{ range $index, $proxyContainer := $ }}
    {{ if eq (index $proxyContainer.Labels "mitmproxy.proxyVirtualHosts") "true" }}
  # TODO: For mitmproxy v9. use list
mode: "upstream:http://{{ $proxyContainer.Hostname }}:80"
    {{ end }}
{{ end }}